NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://rsamar043_db_user:j3Wx8iJZtCb0MS6n@cluster0.s6p6kow.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-with-long-random-local-secret
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:4176/
PYTHON_ANALYTICS_URL=http://localhost:8000
GEMINI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
MAPBOX_TOKEN=
NOTIFICATION_MODE=mock
